<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
    .content{
        color:red;
    }
    .logo{
        width:100px;
        height:100px;
    }


</style>

</head>
<body>

    <div >
        <div >
            <img class="logo" src="../Tidings.jpg" alt="tidings">
        </div>
        <div >
            <img class="logo" src="../logo.png" alt="logo">
        </div>
        <div >
            <p> {{DateHebrewYear}} {{DateHebrewMonth}} {{DateHebrewDay}} </p>
            <p>  {{DateGregorianMonth}}  {{DateGregorianYear}}  {{DateGregorianDay}}</p>
        </div>

    </div>

    <div class="content" id="content">{{content}}</div>
    <footer>{{footer}}</footer>
</body>
</html>
